@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700&subset=latin,vietnamese,latin-ext);

#ext_menu-0 .navbar-toggler {
  color: #000;
}
#ext_menu-0 .nav-link {
  font-size: 20px;
  font-family: 'Alegreya Sans', sans-serif;
}
#ext_menu-0 .navbar-brand {
  font-size: 25px;
}

#ext_menu-2 .navbar-toggler {
  color: #000;
}
#ext_menu-2 .nav-link {
  font-size: 20px;
  font-family: 'Alegreya Sans', sans-serif;
}
#ext_menu-2 .navbar-brand {
  font-size: 25px;
}

#ext_menu-4 .navbar-toggler {
  color: #000;
}
#ext_menu-4 .nav-link {
  font-size: 20px;
  font-family: 'Alegreya Sans', sans-serif;
}
#ext_menu-4 .navbar-brand {
  font-size: 25px;
}
